extends ../templates/main.pug
block append logo-telephon
  .group-top
    .logo
      a(href="#" alt='logo') NAUSHNIKI
      p.logo__lema Магазин беспроводных наушников
    .phone
      //- +icon('phone','blank')
      span.phone__number +7(999)999-99-99
      span.phone__desc Ждём Вашего звонка с 10:00 до 23:00